


body {
    /* position: relative;  */
    --nodes-size: 70px;
}

section.list {
    width: 95%;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

section.list > div {
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: top;
}

/* ----------------------------------------------------------------- */
/* Node */
/* ----------------------------------------------------------------- */

div.ll-node {
    background:#13c6e9;
    width: var(--nodes-size);
    height: var(--nodes-size);
    text-align: center;
    border-radius: 50%;
    z-index: 99999;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes highlightNode {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes deleteNode {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
    }
}

/* ----------------------------------------------------------------- */
/* Number */
/* ----------------------------------------------------------------- */

div.ll-node p.number {
    margin: 0;
    line-height: var(--nodes-size);
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
}

@keyframes fadeNumberOut {
    70% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fadeNumberIn {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------------------------------------------------- */
/* Pointer */
/* ----------------------------------------------------------------- */

div.pointer {
    position: relative;
    width: var(--nodes-size);
    height: var(--nodes-size);
    /* z-index: -1; */
}

div.pointer img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes highlightPointer {
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes deletePointer {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
    }
}

